@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #E6E6E6;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block; /* чтобы можно было прописывать минимальную ширину - для соответствия макету */
  padding: 8px 20px; /* минимальные поля для кнопок */

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  background-color: #756157;

  cursor: pointer;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.padding-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.page-main {
  flex-grow: 1;
}

.section-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.button-submit {
  background-color: #82B3D3;;
}

.button-reset {
  background-color: transparent;
}

.nav-item a:not(.button) {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.nav-search,
.nav-favorites {
  display: block;
  width: 18px;
  height: 18px;

  background-repeat: no-repeat;
  background-position: center center;
}

.nav-search {
  background-image: url("../images/search.svg");
}

.nav-favorites {
  background-image: url("../images/favorites.svg")
}

.nav-favorites-count {
  padding: 3px;

  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;

  border-radius: 50%;

  background-color: #7DB54F;
}

.main-header {
  min-height: 64px;
  display: flex;
  padding: 0 70px;
}

.main-header-logo {
  margin-right: 30px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list,
.user-list {
  display: flex;
  padding: 0;
  margin: 14px 0;
  list-style: none;
}

.nav-list {
  width: 500px;
}

.nav-item {
  margin: 0 16px;
}

.nav-link-current {
  border-bottom: 2px solid #756257;
}

.user-list {
  width: 300px;
  justify-content: end;
  align-items: center;
}

.nav-order {
  margin-left: 20px;
}

.nav-search,
.nav-favorites {
  margin: 12px;
}

.order-btn {
  min-width: 160px;
}

.main-inner-header {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.lead-title,
.service-header,
.order-header,
.subscribe-header,
.offers-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list,
.service-list,
.social-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.advantages-item,
.service-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(:first-child, :last-child),
.side-wrapper,
.service-item {
  width: 400px;
  padding: 85px;
}

.fill {
  display: flex;
  width: 100%;
}

.fill-reverse {
  flex-direction: row-reverse;
}

.middle-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title,
.offer-title,
.service-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-title,
.service-title {
  text-transform: uppercase;
}

.advantages-subtitle,
.service-subtitle,
.offer-subtitle,
.rating-count {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item.fill,
.subscribe-index,
.text-bg {
  color: #ffffff;

  background-color: #82B3D3;
}

.favorite {
  background-color: #82B3D3;
}

.favorite-check {
  background-color: #7DB54F;
}

.service-title::before {
  display: flex;
  content: "";
  width: 76px;
  height: 76px;
  margin: 0 auto;

  background-repeat: no-repeat;
}

.service-housing::before {
  background-image: url("../images/offer-housing.svg");
}

.service-food::before {
  background-image: url("../images/offer-food.svg");
}

.service-souvenirs::before {
  background-image: url("../images/offer-souvenirs.svg");
}

.rating-count {
  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;

  background-color: #F2F2F2;
}

.subscribe input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;

  background-color: #F2F2F2;

  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.company-tel {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.subscribe-index,
.wrapper-top {
  background-color: #5a7fa4;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-index {
  background-image: url("../images/bg-subscribe.jpg");
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input{
  width: 458px;
}

.contacts {
  display: flex;
  padding: 40px 70px 30px;
  align-items: center;
}

.social-list {
  width: 240px; /* про запас на 1-2 иконки */
}

.social-item {
  width: 47px;
}

.social-item a {
  height: 17px;
  color: #83B3D3;
  background-repeat: no-repeat;
}

.footer-phone {
  margin-left: auto;
  margin-right: 236px;
}

.copyright a {
  color: #000000;
}

.wrapper-top {
  padding: 70px;
  padding-top: 35px;

  text-align: start;
  color: #ffffff;

  background-image: url("../images/bg-filter.jpg");
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-form {
  display: flex;
}

.filter-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;

  border: none;
}

.cost-wrapper {
  margin-left: auto;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  list-style: none;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
}

.filter-cost {
  color: #a9a9a9;
}

.control-field {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.offers-header {
  display: flex;
}

.sorting-select {
  margin-left: auto;
  margin-right: 70px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.btn-view {
  display: flex;
  width: 48px;
  height: 48px;


  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
}

.view-current {
  border-color: #000000;
}

.view-list {
  width: 160px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.view-tile {
  background-image: url("../images/view-tile.svg");
}

.view-card {
  background-image: url("../images/view-card.svg");
}

.view-listed {
  background-image: url("../images/view-list.svg");
}

.offers-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  list-style: none;
}

.offer {
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.offer-title {
  text-align: left;
}

.offer > p,
.rating-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rating-stars {
  width: 0;
  height: 17px;
  background-image: url("../images/rating.svg");
  background-repeat: repeat-x;
}

.rating-1 {
  width: 22px;
}

.rating-2 {
  width: 44px;
}

.rating-3 {
  width: 66px;
}

.rating-4 {
  width: 88px;
}

.rating-5 {
  width: 110px;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link,
.pagination-empty {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link {
  color: #ffffff;

  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;

  background-color: #F2F2F2;
}
